<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add a car</title>
</head>
<body>
	<h1>Add a car</h1>
	<form action="/new" method="POST">
		<label for="manufacturer">Choose a manufacturer:</label>
		<select name="manufacturer" id="manufacturer" required>
			<option value="">--Please choose an option--</option>
			<% categories.forEach(category => { %>
				<option value="<%= category.id %>"><%= category.name %></option>
			<% }) %>
		</select>
		<label for="model">Model: </label>
		<input type="text" name="model" id="model" maxlength="25" required>
		<label for="price">Price: </label>
		<input type="number" name="price" id="price" required>
		<label for="year">Year: </label>
		<input 
			type="number" 
			name="year" 
			id="year" 
			min="1900" 
			max="2100" 
			step="1" 
			placeholder="YYYY" 
			required
		>
		<label for="mileage">Mileage: </label>
		<input type="number" name="mileage" id="mileage">
		<label for="engine">Engine: </label>
		<input type="text" name="engine" id="engine" maxlength="25">
		<label for="hp">Horsepower: </label>
		<input type="number" name="hp" id="hp">
		<button type="submit">Add</button>
	</form>
</body>
</html>